@import url("https://fonts.googleapis.com/css?family=Slabo+22px");

$social-button-size: 3em;
$text-color: white;
$a-hover-color: #384a71;
$text-author-size: 1.3em;
$text-quote-size: 1.6em;
$text-author-msize: 1.1em; //mobile author text size
$text-quote-msize: 1.3em; //mobile quote text size
$quote-box-bg: #b53607;
$background-img: "https://www.dropbox.com/s/vi36kb52y5xqtf5/dark-triangles.png?dl=1";

body {
	font-family: "Slabo 22px", serif;
	color: $text-color;
	margin-top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white
		url($background-img)
		repeat;
	overflow: hidden;
}

#quote-box {
	width: 350px;
	height: 350px;
	max-height: 350px;
	max-width: 350px;
	background-color: $quote-box-bg;
	border-radius: 3em;
	padding: 3em;
	margin: 0 auto;
	position: relative;
	display: inline-block;
}

#quote-box:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 40%;
	width: 0;
	height: 0;
	border: 80px solid transparent;
	border-top-color: $quote-box-bg;
	border-bottom: 10;
	border-left: 0;
	margin-left: 60px;
	margin-bottom: -155px;
}

#author-portrait-div {
	margin-top: 6em;
	display: flex;
	justify-content: center;
}

#author-portrait {
	border-radius: 7em;
	display: block;
	max-width: 190px;
	max-height: 190px;
}

#text-div {
	height: 70%;
	margin-top: 10%;
}

#text {
	color: $text-color;
	font-size: $text-quote-size;
	line-height: 1.3em;
}

#author {
	margin-top: 10%;
	display: flex;
	justify-content: right;
	color: $text-color;
	font-size: $text-author-size;
}

#div-links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

a {
	color: $text-color;
	transition: color 0.25s ease-in-out;
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
}

a:hover {
	color: $a-hover-color;
}

.social-link {
	width: $social-button-size;
	height: $social-button-size;
	padding: 15px;
}

button {
	height: $social-button-size;
	border-radius: 2em;
	background-color: $text-color;
	border: 0 solid;
	box-shadow: 0 2px $a-hover-color;
	transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
	-moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

button:hover {
	background-color: $a-hover-color;
	color: white;
}

button:active {
	transform: translateY(2px);
	box-shadow: none;
}

// Mobile
@media only screen and (max-width: 475px) {
	body {
		align-items: center;
		margin-top: 10%;
	}

	#quote-box {
		height: 35vh;
		width: 300px;
		padding: 1.5em;
		display: flex;
		flex-direction: column;
	}

	#quote-box:after {
		border: 50px solid transparent;
		margin-bottom: -95px;
		border-top-color: $quote-box-bg;
		border-bottom: 10;
		border-left: 0;
		margin-left: 50px;
	}

	#author-portrait-div {
		margin-top: 60px;
	}

	#author-portrait {
		max-width: 130px;
		max-height: 130px;
	}

	#text {
		font-size: $text-quote-msize;
		line-height: 1.3em;
	}
	
	#text-div {
	height: 75%;
	margin-top: 5%;
	}

	#author {
	margin-top: 3%;
	display: flex;
	justify-content: right;
	color: $text-color;
	font-size: $text-author-msize;
}

	#div-buttons {
		flex-wrap: wrap;
	}

	button {
		margin: 0.4em;
	}
}
