$social-button-size: 3em;
$text-color: white;
$a-hover-color: #384a71;
$text-author-size: 1.5em;
$text-quote-size: 1.7em;
$quote-box-bg: #b53607;

body {
  /* fonts */
  font-size: 1em;
  color: $text-color;
  margin: 0;  
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#quote-box {
	height: 300px;
	width: 300px;
  background-color: $quote-box-bg;
  border-radius: 3em;
  padding: 3em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#text-div {
	height: 250px;
	margin-top: 10%;
}

#text {
  color: $text-color;
	font-size: $text-quote-size;
}

#author {
	margin-top: 10%;
  display: flex;
  justify-content: right;
  color: $text-color;
  font-size: $text-author-size;
}

#div-buttons {
	display: flex;
	justify-content: space-evenly;	
}

a {
	color: $text-color;
}

a:hover {
	color: $a-hover-color;
}

button {
  height: 30px;
  border-radius: 0.4em;
  background-color: $text-color;
	border: 0 solid;
}
